h1,
h2,
p {
  margin: 0;
}

body {
  background-color: hsl(221, 100%, 96%);
  font-family: Hanken Grotesk, Arial;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

main {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 10px 10px 30px hsla(241, 81%, 54%, 0.08);
  border-radius: 25px;
  width: 650px;
  margin: 20px;
  display: flex;
}

.result-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 25px;
}

.result-title {
  color: hsl(241, 100%, 89%);
  font-size: 20px;
}

.result-total-container {
  width: 170px;
  height: 170px;
  border-radius: 85px; 
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.user-score {
  color: hsl(0, 0%, 100%);
  font-size: 60px;
  font-weight: 800;
  line-height: 70px;
}

.max-score {
  color: hsl(241, 100%, 75%);
  font-size: 16px;
  font-weight: 700;
}

h2 {
  color: hsl(0, 0%, 100%);
  padding-bottom: 20px;
}

p {
  color: hsl(241, 100%, 89%);
  font-size: 16px;
  text-align: center;
  padding: 0 20px 10px 20px;
}

.summary-section {
  flex: 1;
  padding: 30px;
}

.attribution { 
  position: absolute;
  bottom: 20px;
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}